<mat-toolbar color="primary">
    <div id="menu">
      <mat-icon (click)="drawer.toggle();">menu</mat-icon>
    </div>
    <a routerLink="/tasks"><span>Tasks</span></a>
    <a routerLink="/exam"><span>Exams</span></a>
    <a routerLink="/knowledge"><span>Knowledge</span></a>
    <div id="logo"></div>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
      <div>
        <a routerLink="/about">About</a>
        <a routerLink="/impressum" >Impressum</a>
        <a routerLink="/profile" >Profil</a>
        <a (click)="openLogin()">Log</a>
      </div>
  </mat-drawer>

  <ul>
    <li *ngFor="let t of tasks">
      <a style="color: black; text-decoration: none;" [routerLink]="t.id.toString()">{{ tasks }}</a>
    </li>
  </ul>
</mat-drawer-container>

