<p>
  <mat-toolbar color="primary">
    <a style="float: left; margin-right: 20%; margin-left: 5%; text-decoration: underline;"><span [style.cursor]="'pointer'" routerLink="/">Tasks</span></a>
    <a style="float: left; margin-right: 20%;"><span [style.cursor]="'pointer'" routerLink="/">Exams</span></a>
    <a style="float: left;"><span [style.cursor]="'pointer'" routerLink="/">Knowledge</span></a>
    <span style="margin-left: 30%;">LeoDbLearner</span>
  </mat-toolbar>
</p>

<!--<nav style="text-align: center;">-->
<!--  <a style="float: left; margin-right: 20%; margin-left: 25%;" routerLink="/">Tasks</a>-->
<!--  <a style="float: left; margin-right: 20%;" routerLink="/">Exams</a>-->
<!--  <a style="float: left;" routerLink="/">Knowledge</a>-->
<!--</nav>-->

<br><br><br>

<ul>
  <li *ngFor="let t of tasks">
    <a [routerLink]="t.id.toString()">{{ t.name }}</a>
  </li>
</ul>

