mat-toolbar, .mat-drawer{
  background-color: #452860 !important;
}

mat-icon{
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: underline;
}

a:visited{
  color: white;
  text-decoration: none;
}
