#content{
  margin-top: 8em;
  width: 100%;
}

h1{
  font-size: 40pt;
  color: #452860 ;
  text-align: center;
}

#icon{
  cursor: pointer;
  position: absolute;
  top: 3em;
  left: 3em;
  color: #452860 ;
}

p{
  text-align: center;
}

#datamodel{
  cursor: pointer;
  color: #452860 ;
}

#eingabe{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 0em 0em 0em;
}

form{
  width: 80%;
}

textarea{
  display: block;
  margin: auto;
  padding: 2em;
  min-width: 70%;
  max-width: 90%;
  max-height: 20vh;
  color:rgb(41, 41, 41);
}

textarea:focus{
  outline: 0;
}

#result{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  min-height: 35vh;
  max-height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(236, 236, 236) !important;
}

#result h1{
  display: block;
  font-size: 2.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

#tablebox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

table{
  border-collapse: collapse;
}

tr:first-child{
  background-color: #452860 !important;
}

th{
  padding: 0.5em;
  border: 1px solid #452860;
  text-align: center;
  color: white;
}

td{
  padding: 0.4em;
  border: 1px solid #dddddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: rgb(237, 215, 255);
}

.error, h3{
  color: red;
}
