<div id="icon" (click)="navigateTo()"><mat-icon>arrow_back_ios</mat-icon></div>
<div id="content">
    <h1>Angabe</h1><br>
    <p>{{question.text}}</p>

    <p id="datamodel" (click)="openDialog()">Show Datenmodell</p>
</div>

<div id="eingabe">
  <form>
    <textarea id="input" matInput (keydown.enter)="evaluate()" placeholder="Geben Sie das Statement ein" value="" [(ngModel)]="input"></textarea>
  </form> 
</div>

  <div id="result">
    <h1>Result</h1>
    <div id="tablebox">
      <table *ngIf="!this.error">
        <tr>
            <th *ngFor="let h of this.header">{{h}}</th>
        </tr>
    
        <tr *ngFor="let r of this.tabledata; index as i1">
            <td *ngFor="let c of this.header; index as i2">
                {{tabledata[i1][i2]}}
            </td>
        </tr>
    </table>
    
    <div *ngIf="this.error">
        <p class="error">{{this.errormessage}}</p>
    </div>
  </div>
  <div id="val" *ngIf="this.val.length >= 2">
    <h1>Validations</h1>
    <p>{{this.val[1]}}</p>
  </div>
</div>