
h1{
  display: grid;
  align-items: center;
  text-align: center;
  margin-top: 20%;
  font-size: 50px;
}

p{
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-top: 2%;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: underline;
}
a:visited{
  color: white;
  text-decoration: none;
}
