a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: underline;
}
a:visited{
  color: white;
  text-decoration: none;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 45%;
  right: 45%;
  color: white;

}
