<mat-toolbar color="primary">
  <div id="menu">
    <mat-icon (click)="drawer.toggle();">menu</mat-icon>
  </div>
    <a routerLink="/tasks"><span>Tasks</span></a>
    <a routerLink="/exams"><span>Exams</span></a>
    <a routerLink="/knowledge"><span>Knowledge</span></a>
  <div id="logo"></div>
</mat-toolbar>

<mat-drawer-container autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <div>
      <a routerLink="/about">About</a>
      <a routerLink="/impressum" >Impressum</a>
      <a routerLink="/profile" >Profil</a>
      <a (click)="openLogin()">Log</a>
    </div>
  </mat-drawer>

  <div class="container">
    <img src="assets/about-background.jpg" alt="aboutpic" style="width:100%;">
    <div class="text-block">
      <p style="font-size: 50px">About</p>
    </div>
  </div>

  <mat-card style="width: 50%; margin-left: 7%; padding: 5%; margin-top: 5%; float: left" >
    We are four students in the 5th grade at the HTL Leonding and our project is intended to make it easier for students
    to learn SQL commands.
    The project came about because the students quickly lose track of the material they have learned over time. The
    teacher has to check the students' SQL commands individually for correctness in a test, since several possible
    solutions are possible. Pupils constantly ask teachers to provide new exercises, but this is usually not possible
    for the teachers due to time constraints. Checking the individual SQL statements also involves a lot of work for
    the teachers.
  </mat-card>

  <mat-card style="width: 20%; margin-left: 1%; height:30%; margin-top: 5%; float: left; padding: 2%">
    <img src="assets/about-background.jpg" width="100%" >
  </mat-card>

  <mat-card style="width: 20%; margin-left: 7%; height:35%; margin-top: 2%; float: left; padding: 2%">
    <img src="assets/about-background.jpg" width="100%" >
  </mat-card>

  <mat-card style="width: 50%; margin-left: 1%; padding: 5%; margin-top: 2%; float: left" >
    At the HTL Leonding an Oracle database is available to the students in order to be able to work with a database.
    The teacher provides exercises for the students to perform. There are already various exercise tools that can be
    found on the Internet. However, these are mostly static and you can only learn the existing exercises. In addition,
    the overview of the level of knowledge is not very clear. Also, you often have to pay for these tools to use them.
    After the time, students lose track of what they have learned. After a test, the teacher has to check the students'
    SQL commands individually for correctness, as there are basically several possible solutions.
    Pupils constantly ask teachers to provide new exercises, but this is usually not possible for teachers due to time
    constraints. Checking the individual SQL statements is also associated with a lot of work for the teachers.
    Solution --> LeodatabaseLearner

  </mat-card>

  <mat-card style="width: 50%; margin-left: 7%; padding: 5%; margin-top: 2%; float: left">
    The system consists of 4 functions:    <br>
    • Practice mode in which many examples on specific topics can be practiced<br>
      • Learning mode (according to the flash card system, incorrect examples are repeated from a large number of tasks)<br>
      • Exam Mode - Student (represents simulated exam)<br>
      • Exam Mode - Teacher <br>
    The examination tasks can be created by teachers with the help of the system. The tasks are then evaluated.<br>
    The GUI is basically divided into 3 areas:<br>
      • In text/statement (with graphical representation of the data model)<br>
      • Next to it a text field for the SQL statement to be entered by the student<br>
      • If you then click on the button to check the statement, the student gets feedback on the task that has been completed.
        The learning progress is also documented graphically.
  </mat-card>

  <mat-card style="width: 20%; margin-left: 1%; height:44%; margin-top: 2%; float: left; padding: 2%;margin-bottom: 2%">
    <img src="assets/about-background.jpg" width="100%" >
  </mat-card>

<!--  <mat-card style="width: 20%; margin-left: 7%; height:36%; margin-top: 2%; float: left; padding: 2%">-->
<!--    <img src="assets/about-background.jpg" width="100%" >-->
<!--  </mat-card>-->

<!--  <mat-card style="width: 50%; margin-left: 1%; padding: 5%; margin-top: 2%; float: left" >-->


<!--  </mat-card>-->

</mat-drawer-container>
