<div class="container">
  <img src="assets/about-background.jpg" alt="aboutpic" style="width:100%">
  <div class="text-block">
    <p style="font-size: 50px; margin-left: 24%;">Impressum</p>
  </div>
</div>

<h1 style=" font-size: 50pt; text-align: center; margin-top: 5%; margin-bottom: 5%;">Team</h1>
<hr>

<mat-card style="width: 25%; height: 8%; padding: 4%; margin-left: 12%; margin-top: 5%; float: left;">
  Primetzhofer Vanessa<br>
  Student of HTL Leonding<br>
  contact: vaniprimetz@gmail.com<br>
  <img style="float: left; margin-top: -14%; margin-left: 65%" src="assets/about-background.jpg" width="30%">
</mat-card><br><br>

<mat-card
  style="width: 25%; height: 8%; margin-left: 10%; padding: 4%; margin-top: 2.2%; margin-bottom: 5%; float: left;">
  Raffeiner Christine<br>
  Student of HTL Leonding<br>
  contact: chrissiraff@gmail.com<br>
  <img style="float: left; margin-top: -14%; margin-left: 65%" src="assets/about-background.jpg" width="30%">
</mat-card><br><br>


<mat-card style="width: 25%; height: 8%; padding: 4%; margin-left: 12%; float: left; ">
  Steigersdorfer Marah<br>
  Student of HTL Leonding<br>
  contact: marahsteig@gmail.com<br>
  <img style="float: left; margin-top: -14%; margin-left: 65%" src="assets/about-background.jpg" width="30%">
</mat-card><br><br>

<mat-card style="width: 25%; height: 8%; margin-left: 10%; padding: 4%; float: left; margin-bottom: 6%;">
  Turner Isabel<br>
  Student of HTL Leonding<br>
  contact: turnerisabel@gmail.com<br>
  <img style="float: left; margin-top: -14%; margin-left: 65%" src="assets/about-background.jpg" width="30%">
</mat-card><br><br>


<div style="text-align: center;">
  <h1 style="font-size: 50pt; text-align: center; margin-bottom: 5%; margin-top: 5%;">School</h1><hr>
  <h2>HTL Leonding</h2>
  <p>Limesstraße 12-14</p>
  <p>4060 Leonding</p>
</div>
