<div class="container">
  <img src="assets/about-background.jpg" alt="aboutpic" style="width:100%">
  <div class="text-block">
    <p style="font-size: 50px">Impressum</p>
  </div>
</div>

<mat-card style="width: 50%; height: 8%; float: left; margin-left: 7%; padding: 5%; margin-top: 5%; float: left">
  Primetzhofer Vanessa<br>
  Student of HTL Leonding<br>
  contact: vaniprimetz@gmail.com<br>
  <img style="float: left; margin-top: -10%; margin-left: 40%" src="assets/about-background.jpg" width="30%">
</mat-card>


